img{
    max-height: 100%;
}

.box_circle {
    max-height: 100%;
    min-width: 50%;

    margin: .1rem;

    border-radius: 4rem;

    overflow: hidden;

    transition: .2s;

    display: flex;
}

.img_container {
    background-size: cover;
    background-position: 0em 35%;
    background-repeat: no-repeat;
    
    position: relative;
    z-index: 3; 
}

.img_container:hover {
    background-color: var(--color-4);
    
    opacity: .7;
    mix-blend-mode:darken;
    
    cursor: pointer;
}

.char_name {
    font-size: 1.4rem;
    letter-spacing: .05rem;
    word-wrap: break-word;

    margin: 2rem;

    position: absolute;
    z-index: 2;

    max-width: 100%;
}

@media screen and (max-width: 1200px) {
    .box_circle {
        border-radius: 10rem;
    }
}

@media screen and (max-width: 600px) {
    .box_circle {  
        border-radius: 4rem;  
    }
}