.box_card {
    background-color: var(--color-2-transparent);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 5;

    height: 100%;
    width: 100vw;
    transition: .3s;

    border-radius: 4rem;
}

.box_card:hover {
    height: 95%;
    width: 95%;

    top: 2.5%;
    left: 2.5%;

    transition: .3s;
}

.card_grid {
    display: grid;
    grid-template-columns: 20% 1fr 1fr auto 5%;
    grid-template-rows: 5% 1fr 1fr auto 5%;
}

.card_grid:hover {
    grid-template-columns: 5% 1fr 1fr auto 5%;

}

.character_info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    
    justify-items: center;
    align-items: center;

    height: 100%;
    width: 100%;

    font-size: 2rem;
}

.character_text {
    background-color: hsl(0, 0%, 96%, .5);
    border-radius: 4rem;

    padding: 1rem;

    width: 90%;
    height: fit-content;

}


@media screen and (max-width: 1200px) {

    .box_card {
        background-size: cover;
        background-position: center;
    }

    .card_grid:hover {
        grid-template-columns: 4% 1fr 1fr auto 5%;
    
    }
}


