* {
  margin: 0%;
  padding: 0%;

  box-sizing: border-box;

}

:root {

  --color-1: #44281d; 	
	--color-2: #e4a788; 	
	--color-3: #f0e14a; 	
	--color-4: #97ce4c; 	
	--color-5: #e89ac7;
  
}


body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* GLOBAL CLASSES */

/* POSITIONING */
/* FLEX: CENTERED CONTENT */
.centered_content {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

/* SIZING */
.full_screen {

  height: 100vh;
  width: 100vw;
}

.full_container {

  height: 100%;
  width: 100%;
}