.box_circle_board {
    padding: 1rem;
}

.box_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

button {
    background-color: var(--color-3-transparent);
    
    cursor: pointer;
    font-size: 1.6rem;
}
  