.box_circle_board {
    
    /* background-color: whitesmoke; */
    padding: 1rem;
}

.box_grid {
    

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;



}

button {
    cursor: pointer;
    font-size: 1.6rem;
}
  